<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>toyStory</title>
    <link th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<header th:replace="~{fragments/header :: nav}"> nav </header>

<section layout:fragment="content">
    <div class="container-custom d-flex align-items-center py-4">
        <main class="form-signin w-100 m-auto">
            <h1>학습한 것을 구현해보는 프로젝트</h1>
        </main>
    </div>
</section>

</body>

</html>