<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head layout:fragment="head">
    <meta charset="utf-8">
    <title>게시판</title>
    <link th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container-custom" layout:fragment="content" th:fragment="content">
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/post/add}'|"
                    type="button">게시글 등록</button>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성시간</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}">
                <td><a th:text="${post.postId}">번호</a></td>
                <td><a th href="@{/post/{id}(id=${post.id})}" th:text="${post.title}">제목</a></td>
                <td th:text="${post.authorId}">사용자</td>
                <td th:text="${post.createdAt}">2024-04-08</td>
                <td th:text="${post.viewCount}">0</td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div> <!-- /container -->

</body>
</html>