<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>footer</title>
    <link th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" href="/css/styles.css" rel="stylesheet">
</head>
<body>

<footer class="py-5 bg-dark" th:fragment="footer">
    <div class="container">
        <p class="m-0 text-center text-white">
            김민규
            kmg3592@naver.com
        </p>
    </div>
</footer>

</body>
</html>