<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <script src="js/jquery-3.7.1.js"></script>
    <script>
        window.onload = function (){
            formload();
        }

        function formload() {
            var url = '/main';
            $.ajax({
                url: url,
                method: 'GET',
                success: function(response) {
                    $("#some-container").html(response);
                    console.log(response.toString());
                }
            });
        }
    </script>
</head>
<body>
<div id="some-container"></div>
</body>
</html>