<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="mg.toy.mapper.PostMapper">
    <!-- SELECT -->
    <select id="selectPostList" resultType="PostVO">
        SELECT *
        FROM (
                 SELECT
                     a.POST_ID,
                     ROW_NUMBER() OVER (ORDER BY a.POST_ID) AS rn,
                     a.TITLE,
                     a.CONTENT,
                     a.AUTHOR_ID,
                     TO_CHAR(a.CREATED_AT, 'YYYY-MM-DD') CREATED_AT,
                     TO_CHAR(a.UPDATED_AT, 'YYYY-MM-DD') UPDATED_AT,
                     a.VIEW_COUNT,
                     a.COMMENT_COUNT,
                     a.BOARD_ID
                 FROM
                     POST a
             )
        WHERE rn BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="countTotalPost" resultType="int">
        SELECT COUNT(*)
        FROM POST
    </select>

    <select id="selectPostDetail" parameterType="Long" resultType="PostVO">
        SELECT   POST_ID,
                 <!-- ROW_NUMBER() OVER (ORDER BY POST_ID) AS rn, -->
                 TITLE,
                 CONTENT,
                 AUTHOR_ID,
                 TO_CHAR(CREATED_AT, 'YYYY-MM-DD') CREATED_AT,
                 TO_CHAR(UPDATED_AT, 'YYYY-MM-DD') UPDATED_AT,
                 VIEW_COUNT,
                 COMMENT_COUNT,
                 BOARD_ID
        FROM POST
        WHERE POST_ID = #{postId}
    </select>
</mapper>