<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="mg.toy.mapper.PostMapper">
    <!-- SELECT -->
    <select id="selectPostList" resultType="PostVO">
        SELECT POST_ID,
               TITLE,
               CONTENT,
               AUTHOR_ID,
               CREATED_AT,
               UPDATED_AT,
               VIEW_COUNT,
               COMMENT_COUNT,
               BOARD_ID
        FROM POST
    </select>

    <select id="selectPostDetail" parameterType="Long" resultType="PostVO">
        SELECT POST_ID,
               TITLE,
               CONTENT,
               AUTHOR_ID,
               CREATED_AT,
               UPDATED_AT,
               VIEW_COUNT,
               COMMENT_COUNT,
               BOARD_ID
        FROM POST
        WHERE POST_ID = #{postId}
    </select>

</mapper>